.member-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    mat-card {

        mat-card-header {

            h3 {
                margin: 10px;
                font-size: 30px;
                font-weight: bold;
            }
        }

    }


    img {
        margin: 15px;
        border-radius: 15px;
    }

    mat-icon {
        margin: 15px;
    }

}