<div class="garden-container">
    <mat-sidenav-container autosize>
        <mat-sidenav #drawer>
            <h2>Currently Growing</h2>
            <hr>
            <div class="plants" *ngFor="let plant of ( currentUserPlants | async )">
                <button mat-raised-button (click)="selectPlant(plant)">{{plant.name}}
                </button>
                <button mat-fab color="primary">
                    <mat-icon (click)="deletePlant(plant)">delete</mat-icon>
                </button>
            </div>


        </mat-sidenav>
        <mat-sidenav-content>
            <div class="garden-content">
                <mat-card>
                    <button mat-raised-button color="primary" (click)="drawer.toggle()">See Plants</button>
                    <div *ngIf="plantSelected" class="plant-container">
                        <app-plant [plant]="userPlant"></app-plant>
                    </div>

                </mat-card>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>