.garden-container {
    padding: 20px;
    height: 100%;

    mat-sidenav-container {
        height: 100%;
        
        mat-sidenav {
            
            h2 {
                font-size: 1.8em;
            }
            
            padding: 16px;
            width: 40%;
            background-color: rgb(100, 225, 135);

            button {
                margin: 10px;
            }
                .inner {
                    button {
                        margin: 5px;
                    }
                }
            } 

        mat-sidenav-content {
            .garden-content {
                mat-card {
                    height: 500px;
                    padding: 20px;
                    margin: 30px;

                    .plant-container {
                        border-radius: 10px;
                        padding: 15px;
                        margin: 45px;
                    }
                }
            }
            
            padding: 16px;
        }
    }
}
