<div class="garden-container">
    <mat-sidenav-container autosize>
        <mat-sidenav #drawer>
            <h2>Currently Growing</h2>
            <button (click)="housePlants = !housePlants" mat-raised-button>
                House Plants
            </button>
            <div class="inner" *ngIf="housePlants">
                <button mat-raised-button>Bamboo</button>
                <button mat-raised-button>Succulents</button>
                <button mat-raised-button>Trees</button>
            </div>
            <button (click)="harvestablePlants = !harvestablePlants" mat-raised-button>
                Harvestables
            </button>
            <div class="inner" *ngIf="harvestablePlants">
                <button mat-raised-button>Fruits</button>
                <button mat-raised-button>Vegtables</button>
                <button mat-raised-button>Herbs</button>
            </div>

        </mat-sidenav>
        <mat-sidenav-content>
            <div class="garden-content">
                <mat-card>
                    <button mat-raised-button color="primary" (click)="drawer.toggle()">See Plants</button>
                </mat-card>
                <div *ngIf="plantSelected">
                    <!-- takes input from plant selection with DB Query -->
                    <app-plant></app-plant>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>