<div class="create-message-container">
    <h2 mat-dialog-title>Compose Message </h2>
    <mat-dialog-content>
        <form [formGroup]="createMessageForm" class="message-form" (ngSubmit)="sendMessage(data)">
            <mat-form-field>
                <mat-label>Subject</mat-label>
                <input matInput placeholder="What're You Growing?" formControlName="subject">
            </mat-form-field>


            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message"></textarea>
            </mat-form-field>
            <button mat-button>
                <mat-icon mat-dialog-close color="accent" type="submit">send
                </mat-icon>
            </button>
        </form>

    </mat-dialog-content>



</div>