mat-card > * {
    
    display: flex;
    flex-direction: column;
    text-align: center;

    h2 {
        font-size: 30px;
        margin: 10px;
    }

    form {
        margin-top: 25px;
    }

    button {
        padding: 10px;
        flex-basis: 25px;
        align-self: center;
    }
}