.community-container {
    h2 {
        text-align: center;
        margin: 20px;
        font-size: 2em;
    }
    .members-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .members{
            text-align: center;
            margin: 25px;
        }
    }
}