<div class="welcome">
    <h1><a routerLink="/">Harvest-Tycoon</a></h1>
    <mat-tab-group class="nav-group" mat-align-tabs="end">
        <mat-tab label="About">

            <mat-grid-list cols="2" *ngIf="showingAbout">
                <mat-grid-tile>
                    <img src="assets/img/House-Plant.png" alt="house-plant-image">
                </mat-grid-tile>
                <mat-grid-tile>
                    <div *ngIf="showingAbout">
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Grow a Network of Planters</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <p> Make Friends with app users who also cultivate various plants in your homes.</p>
                                <p>Set Reminders, Communicate with Friends and Shar propegations and trade plants</p>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-raised-button color="accent" (click)="hideAbout()">Join Now</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <div *ngIf="creatingUser">
                <mat-card>
                    <button class="goBack" mat-raised-button color="primary" (click)="showAbout()">Go Back</button>
                    <mat-card-header>
                        <div *ngIf="enteringUserDetails">
                            <mat-card-title>Create Your Profile</mat-card-title>
                        </div>
                        <div *ngIf="successfullyCreated">
                            <mat-card-title>You've Successfully Created an Account!</mat-card-title>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <div *ngIf="enteringUserDetails">
                            <div class="error-box" *ngIf="isError">
                                <p>{{ this.badRequestError }}</p>
                            </div>
                            <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
                                <mat-form-field appearance="outline" color="accent">
                                    <mat-label>Username</mat-label>
                                    <input matInput require id="username" formControlName="username" />
                                </mat-form-field>
                                <div class="seperate">
                                    <mat-form-field appearance="outline" color="accent">
                                        <mat-label>Password</mat-label>
                                        <input matInput type="password" require id="password"
                                            formControlName="password" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" color="accent">
                                        <mat-label>Confirm Password</mat-label>
                                        <input matInput type="password" require id="confirmPassword"
                                            formControlName="confirmPassword" />
                                    </mat-form-field>
                                </div>
                                <mat-form-field appearance="outline" color="accent">
                                    <mat-label>Email</mat-label>
                                    <input matInput type="email" id="email" require formControlName="email" />
                                </mat-form-field>
                                <div class="seperate">
                                    <mat-form-field appearance="outline" color="accent">
                                        <mat-label>Firstname</mat-label>
                                        <input matInput type="text" id="firstName" require
                                            formControlName="firstName" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" color="accent">
                                        <mat-label>Lastname</mat-label>
                                        <input matInput require id="lastName" formControlName="lastName" type="text" />
                                    </mat-form-field>
                                </div>
                                <div class="seperate">
                                    <mat-form-field appearance="outline" color="accent">
                                        <mat-label>Age</mat-label>
                                        <input matInput type="number" id="age" require formControlName="age" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" color="accent">
                                        <mat-label>Phone</mat-label>
                                        <input matInput require id="phone" formControlName="phone" />
                                    </mat-form-field>
                                </div>
                                <mat-card-actions>
                                    <button class="create-account-btn" mat-raised-button color="accent" type="submit"
                                        [disabled]="!createUserForm.valid || !createUserForm.dirty">Create
                                        Account</button>
                                </mat-card-actions>
                            </form>
                        </div>
                        <div *ngIf="successfullyCreated">
                            <h3>Welcome {{ this.createUserForm.controls.username.value | titlecase }}</h3>
                            <p> Please Login </p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Login">
            <div class="login-container">
                <app-login></app-login>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>