<div class="add-plant-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add New Plant</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createUserPlantForm" (ngSubmit)="addPlant()">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Type</mat-label>
                    <!--  create a Select Menu -->
                    <input matInput require id="type" formControlName="type" />
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Plant Name</mat-label>
                    <input matInput type="text" require id="name" formControlName="name" />
                </mat-form-field>
                <div class="seperate">
                    <h2>Basic Information:</h2>
                    <mat-form-field appearance="fill">
                        <mat-label>Life Stage of Plant</mat-label>
                        <mat-select>
                            <mat-option value="Seed" formControlName="lifestage">Seed</mat-option>
                            <mat-option value="Seedling" formControlName="lifestage">Seedling</mat-option>
                            <mat-option value="Young Plant" formControlName="lifestage">Young Plant</mat-option>
                            <mat-option value="Mature Plant" formControlName="lifestage">Mature Plant</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Light Preferences of Plant</mat-label>
                        <mat-select>
                            <mat-option value="Some Sunlight" formControlName="lightPreferences">Some Sunlight
                            </mat-option>
                            <mat-option value="Indirect Sunlight" formControlName="lightPreferences">Indirect Sunlight
                            </mat-option>
                            <mat-option value="Shade" formControlName="lightPreferences">Shade</mat-option>
                            <mat-option value="Full Sun" formControlName="lightPreferences">Full Sun</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Watering Preferences</mat-label>
                    <input matInput require id="wateringPreferences" formControlName="wateringPreferences"
                        type="text" />
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button class="create-plant-btn" mat-raised-button color="accent" type="submit">Add to Garden</button>
        </mat-card-actions>
    </mat-card>
</div>