<div class="add-plant-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add New Plant</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createUserPlantForm" (ngSubmit)="addPlant()">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Type</mat-label>
                    <!--  create a Select Menu -->
                    <input matInput require id="type" formControlName="type" />
                </mat-form-field>
                &nbsp;
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Plant Name</mat-label>
                    <input matInput type="text" require id="name" formControlName="name" />
                </mat-form-field>
                <div class="seperate">
                    <h2>Basic Information:</h2>
                    <mat-form-field appearance="fill">
                        <mat-label>Life Stage of Plant</mat-label>
                        <mat-select formControlName="lifeStage">
                            <mat-option *ngFor="let lifeStage of formOptions.lifeStage" [value]="lifeStage">
                                {{lifeStage}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Light Preferences of Plant</mat-label>
                        <mat-select formControlName="lightPreferences">
                            <mat-option *ngFor="let lightPreferences of formOptions.lightPreferences"
                                [value]="lightPreferences">
                                {{lightPreferences}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Watering Preferences</mat-label>
                    <input matInput require id="wateringPreferences" formControlName="wateringPreferences"
                        type="text" />
                </mat-form-field>
                <mat-card-actions>
                    <button class="create-plant-btn" mat-raised-button color="accent" type="submit"
                        [disabled]="!createUserPlantForm.valid || !createUserPlantForm.dirty">Add to
                        Garden</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>